@font-face {
  font-family: "bruce";
  src: url("../font/bruceforeverregular-x3jd2-webfont.woff2") format("woff2"),
    url("../font/bruceforeverregular-x3jd2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: bruce;
  height: 2000px;
  background-color: lightskyblue;
}

* {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item {
  padding: 10px;
  font-size: 20px;
}

li {
  list-style: none;
}

.harga:focus {
  box-shadow: 0 0 0 5px lightblue;
}

.harga-xbox:focus {
  box-shadow: 0 0 0 5px lightgreen;
}

.harga-steam:focus {
  box-shadow: 0 0 0 5px grey;
}

.harga-ml:focus {
    box-shadow: 0 0 0 5px blue;
}

.harga-genshin:focus {
    box-shadow: 0 0 0 5px darkblue;
}

.harga-google:focus {
    box-shadow: 0 0 0 5px green;
}

.harga-pb:focus {
  box-shadow: 0 0 0 5px darkgray;
}

.harga-pubg:focus {
  box-shadow: 0 0 0 5px darkorange;
}

.harga-garena:focus {
  box-shadow: 0 0 0 5px red;
}

.harga-coc:focus {
  box-shadow: 0 0 0 5px orange;
}

.harga-top:focus {
  box-shadow: 0 0 0 5px lightgreen
}